// Nautical Color Palette: https://coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c

$light-teal: #2EC4B6;
$navy-blue: #011627;
// $royal-red: #E71D36;
$royal-red: #EC4B5F;
$white: #FDFFFC;
$yellow: #FF9F1C;