// Imported Files
@import '../css/normalize.css';

// Global Variables
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Colors (https://color.adobe.com/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Core-color-theme-11987554/)
$red: #ED553B;
$orange: #F2B134;
$green: #0894A1;
$blue: #0894A1;

// Mixins
@mixin section {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
}

@mixin section-cover {
    content: "";
    background: rgba(0,0,0,0.7);
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* Body */
body {
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Opening Section */
div#opening {
    @include section;
    align-items: center;
    background-image: url('../images/landingPlaceholder.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;

    &:after {
        @include section-cover;
    }

    h1 {
        color: white;
        font-family: $font-stack;
        font-size: 48px;
        font-weight: 500;
        line-height: 64px;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 2;

        i {
            color: $red;
            font-style: normal;
        }
    }
}