// Global Variables
$body-font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, sans-serif;
$header-font: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell,"Helvetica Neue", sans-serif;

// Color Palette: https://color.adobe.com/Vitamin-C-color-theme-492199/
$aquamarine: rgba(31,138,112,1);
$black: rgba(0,0,0,1);
$green: rgba(190,219,57,1);
$orange: rgba(253,116,0,1);
$white: rgba(255,255,255,1);
$yellow: rgba(255,225,26,1);

// Mixins
@mixin nav-animation {
    -moz-transition: height 0.4s cubic-bezier(0.86,0,0.07,1);
    -webkit-transition: height 0.4s cubic-bezier(0.86,0,0.07,1);
    transition: height 0.4s cubic-bezier(0.86,0,0.07,1);
}

@mixin nav-hover {
    content: "";
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

@mixin section {
    margin: 0;
    padding: 0;
    width: 100vw;
}

@mixin section-cover {
    content: "";
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

/* Imported Assets */
@import '../css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500');

/* Body */
body {
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Navigation Menu */
nav {
    height: 64px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 3;

    h1 {
        color: $white;
        display: inline;
        font-family: $header-font;
        font-size: 48px;
        font-weight: 500;
        line-height: 64px;
        margin: 0 0 0 30px;
        user-select: none;
    }

    ul {
        display: flex;
        float: right;
        list-style-position: inside;
        list-style-type: none;
        margin: 0 30px 0 0;

        li {
            display: block;
            height: 64px;
            position: relative;

            a {
                color: $white;
                display: block;
                font-family: $header-font;
                font-size: 28px;
                font-weight: 400;
                padding: 27px 1em 9px;
                position: relative;
                text-decoration: none;
                user-select: none;
                z-index: 3;
            }

            &#about:after,
            &#resume:after,
            &#portfolio:after,
            &#contact:after {
                @include nav-animation;
                @include nav-hover;
                height: 0;
            }

            &#about:hover:after,
            &#resume:hover:after,
            &#portfolio:hover:after,
            &#contact:hover:after {
                @include nav-hover;
                height: 64px;
            }

            &#about:after {
                background-color: $orange;
            }

            &#resume:after{
                background-color: $yellow;
            }

            &#portfolio:after{
                background-color: $green;
            }

            &#contact:after{
                background-color: $aquamarine;
            }
        }
    }
}

/* Splash Section */
div#splash {
    @include section;
    background-image: url('../images/landingPlaceholder.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

    &:after {
        @include section-cover;
    }
}